<div class="jumbotron">
  <h1>G-bucks</h1>
  <p class="introduction">私たち1年G組はジュースとゼリーを組み合わせた新感覚スイーツを提供致します。3階305号室で営業しております。
    ゼリーとジュースの組み合わせはお選びいただけ、メニューの数は無限大です。是非一度お試し下さい。</p>
  <p><%=link_to"ドリンク一覧",drinks_path,class:"btn btn-info"%></p>
</div><hr>
<h2>店内</h2>
<%=image_tag("/assets/店内1.jpg",:width =>"100%",:height=>"100%")%><br><hr>
<%=image_tag("/assets/店内2.jpg",:width =>"100%",:height=>"100%")%><br><hr>

<div id="address">
<h2>アクセス</h2>
<h5>3階305号室</h5>
  <h3>ロゴ</h3>
  <%=image_tag("24409.jpg",:width=>"50%",:height=>"50%",class:"img-responsive")%>
</div>
<br><hr>
<h2>ドリンク一覧</h2>
<div class="row">
  <%@drinks.each do|drink|%>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%if drink.image.present?%>
              <%= cl_image_tag(drink.image,:width=>"100%",:height=>"100%")%>
          <%end%>
          <div class="caption">
            <h3><%=drink.name%></h3>
            <h5>値段:<%=drink.price%></h5>
            <p>説明:<%=drink.explanation%></p>
            <p><%=link_to"レビューする",new_review_path(:drink_id=>drink.id),class:"btn btn-success"%> </p>
          </div>
        </div>
      </div>
  <%end%>
</div>
<h3>レビュー 一覧</h3>
<%=link_to "レビュー投稿",select_reviews_path%>
<div class="panel panel-default">
  <div class="panel-heading">レビュー 一覧</div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>イメージ</th>
      <th>ドリンク名</th>
      <th>星</th>
      <th>本文</th>
    </tr>
    <%@reviews.each.with_index(1) do|review,index|%>
        <tr>
          <td><%=index%></td>
          <td><%= cl_image_tag(Drink.find(review.drink_id).image,:width=>"50",:height=>"50",class:"img-circle img-responsive")%></td>
          <td><%=link_to Drink.find(review.drink_id).name,Drink.find(review.drink_id)%></td>
          <td><%=raty_stars(review.stars.to_i)%></td>
          <td><%=review.body%></td>
        </tr>
    <%end%>
  </table>
</div>
<%=link_to "レビュー投稿",select_reviews_path%><br><br>

<%=link_to "ルーレット無料になるかも",welcome_roulette_path,class:"btn btn-success"%>